body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(17, 24, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculatrice {
    height: 575px;
    width: 425px;
    background-color: brown;
}